# Core dependencies for Solana
solana==0.36.7
solders==0.26.0

# Async + Networking
httpx==0.28.1
websockets==11.0.3
anyio==4.3.0
sniffio==1.3.1
h11==0.14.0
httpcore==1.0.4
idna==3.6

# Construct + JSON helper
construct==2.10.68
construct-typing==0.6.2
jsonalias==0.1.1

# Typing & certs
typing_extensions==4.14.1
certifi==2025.7.14
